*.*
# !*/

!.gitignore
!*.md


# Source files:
!*.vhd
!*.v
!*.bd
!*.edif

# Simulation logic analyzer
!*.wcfg

!*.prj
!*.mem

# Project files
!*.xpr

# Constraint files
!*.xdc

# TCL - files
!*.tcl

# Documents
!*.pdf
!*.jpg